/***::after, **::before {
    margin: 0;
    box-sizing: border-box;
}*/

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color:white;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
    background:black;
}

.nav__logo{
    margin-left: 3rem;
    font-size: 4vh;
    font-family: 'Lobster';
}

.nav__menu{
    display: flex;
    align-items: cneter;
    justify-content: space-around;
    gap: 3rem;
    margin-right: 2rem;
}

.nav__toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: white;
}

.nav__toggler{
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 800px){
    .nav__toggler{
        display: block;
    }
    .nav__menu{
        position:fixed;
        top:5vh;
        right:-2rem;
        width:50%;
        height:93vh;
        background: black;
        flex-direction: column;
        transform: translateX(110%);
    }
}

.nav__active{
    transform: translateX(0);
}

.nav__link {
    font-size: large;
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav__link:hover{
    color: white;
    background-color:rgb(101, 35, 101);
}

.nav__link__box a{
    padding-bottom: 2.5vh;
    padding-top:15px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

.nav__logo:hover{
    color:white;
}